<div class="panel-box">
	<div class="page-left margin-bottom item-border">
		<div class="page-left none-padding">
			<div id="tipListItem" class="panel-left-20">
				<!-- Will load by JS -->
				
			</div>
			<div class="panel-left-80">
				<div class="page-left none-padding item-line-left">
					<div id="tipContent" class="padding-10">
						
					</div>
					<div id="relatedTopics">
						<div class="page-left none-padding">
							<pre><h4>Related Topics</h4></pre>
						</div>
						
						<div id="relatedTopicsContent" class="page-left margin-bottom">
							<!-- Will load by JS -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	<!-- // hide from really old browsers that noone uses anymore
	$(function() {
		var tip = new TipController(tips);
		tip.initTip();
	});
	//-->
</script>